body {
  font-family: Arial;
  background: #f4f4f4;
}

.box {
  width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: blue;
  color: white;
  border: none;
}

a {
  display: block;
  margin-top: 10px;
}